
  <div class="row">
    <div class = "col-md-4 col-md-offset-4" id="title">
      <h1>NYC Cultural Events</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="events-form">
        <%= form_tag(events_path) do %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 check_box">
          <%= label_tag "events", "Select your desired entertainment type:" %><br>
            <%= check_box_tag  :event_type, "Theater" %>
              <%= label_tag       :event_type_theater, "Theater" %>
            <%= check_box_tag  :event_type, "Movies" %>
              <%= label_tag       :event_type_movies, "Movies" %>
            <%= check_box_tag  :event_type, "Dance" %>
              <%= label_tag       :event_type_movies, "Dance" %>
            <%= check_box_tag  :event_type, "Jazz" %>
              <%= label_tag       :event_type_jazz, "Jazz" %>
            <%= check_box_tag  :event_type, "Classical" %>
              <%= label_tag       :event_type_classical, "Classical" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <%= submit_tag "Submit selection", class: "btn btn-info btn-sm", id: "submit-btn" %>
            </div>
          </div>
          <% end %>
      </div><!-- events-form-->
    </div><!--row-->

  <div class="row">
    <!-- <div class= "col-md-8 col-md-offset-2 pre-scrollable" id="event-box"> -->
      <dl class= "col-md-8 col-md-offset-2 pre-scrollable" id="event-box">
        <% @results.each do |listing| %>
          <dt><%= listing['event_name']%></dt>
            <dd><%= listing['venue_name'] %></dd>
            <dd><%= listing['street_address'] %></dd>
            <dd><%= listing['date_time_description'] %></dd>
            <dd><%= listing['web_description'].html_safe %></dd>
          <% end %>
      </dl>
    <!-- </div> -->
  </div>
