  <div class="row">
    <div class = "col-md-12 text-center" id="title">
      <h1>NYC Cultural Events</h1>
    </div>
  </div>

  <%= render 'welcome_selection_box' %>

  <div class="row">
      <dl class= "col-md-8 col-md-offset-2 pre-scrollable" id="event-box">
        <% @results.each do |listing| %>
          <dt class="text-center"><%= listing['event_name']%></dt>
            <dd><%= listing['venue_name'] %></dd>
            <dd><%= listing['street_address'] %></dd>
            <dd><%= listing['date_time_description'] %></dd>
            <dd><%= listing['web_description'].html_safe %></dd>
          <% end %>
      </dl>
  </div>
